cython
numpy
pandas
matplotlib
seaborn
scikit-learn
pybigwig
mysqlclient
cyvcf2
mygene
pyfaidx
pyranges
pyranges_db
ray
biopython==1.77
natsort   
plotnine
tqdm
tensorflow
pycm
dna_features_viewer
spliceai
